<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="first_run" value="True"/>
    <add key="rb_name_a" value=""/>
    <add key="rb_name_b" value=""/>
    <add key="rb_name_c" value=""/>
    <add key="rb_them_a" value=""/>
    <add key="rb_them_b" value=""/>
    <add key="rb_them_c" value=""/>
    <add key="out_path" value=""/>
  </appSettings>
</configuration>